<clr-tabs>
    <clr-tab>
        <button clrTabLink>Медикаменты</button>
        <clr-tab-content *clrIfActive>
            <div class="row">
                <div class="col-xs">

                </div>
                <div class="col-xs">

                </div>
            </div>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Манипуляции</button>
        <clr-tab-content *clrIfActive>
            <div class="row">
                <div class="col-xs">

                </div>
                <div class="col-xs">

                </div>
            </div>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Исследования</button>
        <clr-tab-content *clrIfActive>
            <button class="btn btn-primary btn-sm" (click)="open = true; add()">Добавить</button>
            <div class="row">
                <div class="col-xs">
                    <clr-datagrid>
                        <clr-dg-column>Наименование анализа</clr-dg-column>
                        <clr-dg-row *clrDgItems="let rec of records">
                            <clr-dg-cell>{{rec.title}}</clr-dg-cell>
                            <clr-dg-row-detail *clrIfExpanded="expand">
                                <button class="btn btn-primary btn-sm" (click)="edit()">Изменить</button>
                                <button class="btn btn-danger btn-sm" (click)="delete()">Удалить</button>
                            </clr-dg-row-detail>
                        </clr-dg-row>
                        <clr-dg-footer>
                            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} из {{pagination.totalItems}} записей
                            <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
                        </clr-dg-footer>
                    </clr-datagrid>
                </div>
                <div class="col-xs">
                    <!-- TODO -->
                </div>
            </div>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Режим питания</button>
        <clr-tab-content *clrIfActive>
            <div class="row">
                <div class="col-xs">

                </div>
                <div class="col-xs">

                </div>
            </div>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Консультации</button>
        <clr-tab-content *clrIfActive>
            <div class="row">
                <div class="col-xs">

                </div>
                <div class="col-xs">

                </div>
            </div>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>

<clr-modal [(clrModalOpen)]="open" [clrModalSize]="'xl'" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">Назначение исследования</h3>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="open = false">Готово</button>
    </div>
</clr-modal>
