<button class="btn btn-primary" (click)="open = true; add()">Добавить</button>

<clr-modal [(clrModalOpen)]="open" [clrModalSize]="'xl'" [clrModalStaticBackdrop]="true">
    <h3 class="modal-title">Регистрация истории болезни</h3>
    <div class="modal-body">
        <clr-tabs>
            <clr-tab>
                <button clrTabLink>Пациент</button>
                <clr-tab-content *clrIfActive="true">
                    <form #storyForm="ngForm" (ngSubmit)="onSubmit(storyForm)" class="compact row">
                        <section class="form-block col-xs-6">
                            <fieldset>
                                <label>Данные пациента</label>
                                <div class="form-group">
                                    <label class="required" for="lastName">Фамилия</label>
                                    <label for="lastName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="lastNameInput.invalid && (lastNameInput.dirty || lastNameInput.touched)">
                                        <input type="text" id="lastName" placeholder="Введите фамилию пациента" name="lastName" [(ngModel)]="model.lastName" #lastNameInput="ngModel"
                                            required>
                                        <span class="tooltip-content">
                                            Обязательное поле
                                        </span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="required" for="firstName">Имя</label>
                                    <label for="firstName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="firstNameInput.invalid && (firstNameInput.dirty || firstNameInput.touched)">
                                        <input type="text" id="firstName" placeholder="Введите имя пациента" name="firstName" [(ngModel)]="model.firstName" #firstNameInput="ngModel"
                                            required>
                                        <span class="tooltip-content">
                                            Обязательное поле
                                        </span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="required" for="middleName">Отчество</label>
                                    <label for="middleName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="middleNameInput.invalid && (middleNameInput.dirty || middleNameInput.touched)">
                                        <input type="text" id="middleName" placeholder="Введите отчество пациента" name="middleName" [(ngModel)]="model.middleName"
                                            #middleNameInput="ngModel" required>
                                        <span class="tooltip-content">
                                            Обязательное поле
                                        </span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="required" for="birthDate">Дата рождения</label>
                                    <label for="birthDate" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="birthDateInput.invalid && (birthDateInput.dirty || birthDateInput.touched)">
                                        <input type="date" id="birthDate" name="birthDate" (change)="calculateAge()" [(ngModel)]="model.birthDate" #birthDateInput="ngModel"
                                            required>
                                        <span class="tooltip-content">
                                            Обязательное поле
                                        </span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="required" for="age">Возраст</label>
                                    <label for="age" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="ageInput.invalid && (ageInput.dirty || ageInput.touched)">
                                        <input type="number" id="age" name="age" [(ngModel)]="model.age" #ageInput="ngModel" required>
                                        <span class="tooltip-content">
                                            Обязательное поле
                                        </span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="required">Пол</label>
                                    <div class="radio-inline">
                                        <input type="radio" name="gender" id="male" [value]="1" [(ngModel)]="model.gender">
                                        <label for="male">Мужской</label>
                                    </div>
                                    <div class="radio-inline">
                                        <input type="radio" name="gender" id="female" [value]="2" [(ngModel)]="model.gender">
                                        <label for="female">Женский</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="required" for="nationality">Национальность</label>
                                    <div class="select">
                                        <select id="nationality" name="nationality" [(ngModel)]="model.nationality" required>
                                            <option value="">Выберите значение</option>
                                            <option *ngFor="let nation of nationality" [value]="nation">{{nation}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="required" for="regDate">Дата регистрации</label>
                                    <label for="regDate" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="regDateInput.invalid && (regDateInput.dirty || regDateInput.touched)">
                                        <input type="date" id="regDate" name="regDate" [(ngModel)]="model.regDate" #regDateInput="ngModel" required>
                                        <span class="tooltip-content">
                                            Обязательное поле
                                        </span>
                                    </label>
                                </div>
                            </fieldset>
                            <br>
                            <fieldset>
                                <label>Постоянное место жительства</label>
                                <div class="form-group">
                                    <div class="checkbox-inline">
                                        <input type="checkbox" id="resident" name="resident" [(ngModel)]="model.isResident">
                                        <label for="resident">Резидент</label>
                                    </div>
                                    <div class="checkbox-inline">
                                        <input type="checkbox" id="city" name="city" [(ngModel)]="model.inCity">
                                        <label for="city">Город</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="region">Область</label>
                                    <div class="select">
                                        <select id="region" name="region" [(ngModel)]="model.region">
                                            <option value="">Выберите значение</option>
                                            <option *ngFor="let reg of regions" [value]="reg">{{reg}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="district">Район, г.</label>
                                    <div class="select">
                                        <select id="district" name="district" [(ngModel)]="model.district">
                                            <option value="">Выберите значение</option>
                                            <option *ngFor="let distr of districts" [value]="distr">{{distr}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="street">Улица, дом, кв.</label>
                                    <input type="text" id="street" placeholder="Введите адрес пациента" name="street" [(ngModel)]="model.street">
                                </div>
                                <div class="form-group">
                                    <label for="homePhone">Тел. дом</label>
                                    <input type="text" id="homePhone" placeholder="Введите домашний номер" name="homePhone" [(ngModel)]="model.homePhone">
                                </div>
                            </fieldset>
                        </section>
                        <section class="form-block col-xs-6">
                            <fieldset>
                                <label>Документ</label>
                                <div class="form-group">
                                    <label class="required" for="docType">Тип документа</label>
                                    <div class="select">
                                        <select id="docType" name="docType" [(ngModel)]="model.docType" required>
                                            <option value="">Выберите значение</option>
                                            <option *ngFor="let doct of docTypes" [value]="doct">{{doct}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="required" for="docNumber">Номер</label>
                                    <label for="docNumber" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="docNumberInput.invalid && (docNumberInput.dirty || docNumberInput.touched)">
                                        <input type="text" id="docNumber" name="docNumber" [(ngModel)]="model.docNumber" #docNumberInput="ngModel" placeholder="Введите номер документа"
                                            required>
                                        <span class="tooltip-content">
                                            Обязательное поле
                                        </span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="required" for="docIIN">ИИН</label>
                                    <label class="col-xs-6" for="docIIN" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="docIINInput.invalid && (docIINInput.dirty || docIINInput.touched)">
                                        <input type="text" id="docIIN" name="docIIN" [(ngModel)]="model.docIIN" #docIINInput="ngModel" placeholder="Введите ИИН"
                                            required>
                                        <span class="tooltip-content">
                                            Обязательное поле
                                        </span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="docSeries">Серия</label>
                                    <input type="text" id="docSeries" name="docSeries" [(ngModel)]="model.docSeries" placeholder="Введите серию документа">
                                </div>
                            </fieldset>
                            <br>
                            <fieldset>
                                <label>Полис</label>
                                <div class="form-group">
                                    <label for="insuranceNumber">Страховой полис</label>
                                    <input type="text" id="insuranceNumber" name="insuranceNumber" [(ngModel)]="model.insuranceNumber" placeholder="Введите номер полиса">
                                </div>
                                <div class="form-group">
                                    <label for="insuranceCompany">Наименование страховой компании</label>
                                    <div class="select">
                                        <select id="insuranceCompany" name="insuranceCompany" [(ngModel)]="model.insuranceCompany">
                                            <option value="">Выберите значение</option>
                                            <option *ngFor="let ic of insuranceCompanies" [value]="ic">{{ic}}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <br>
                            <br>
                            <fieldset>
                                <label>Место работы</label>
                                <div class="form-group">
                                    <label for="workPlace">Место работы</label>
                                    <input type="text" name="workPlace" id="workPlace" [(ngModel)]="model.workPlace" placeholder="Введите место работы">
                                </div>
                                <div class="form-group">
                                    <label for="workPosition">Профессия / должность</label>
                                    <input type="text" name="workPosition" id="workPosition" [(ngModel)]="model.workPosition" placeholder="Введите должность или профессию">
                                </div>
                                <div class="form-group">
                                    <label for="workNumber">Рабочий телефон</label>
                                    <input type="text" name="workNumber" id="workNumber" [(ngModel)]="model.workNumber" placeholder="Введите рабочий номер тел.">
                                </div>
                                <div class="form-group">
                                    <label for="lastVisit">Дата последнего посещения</label>
                                    <input type="date" name="lastVisit" id="lastVisit" [(ngModel)]="model.lastVisit">
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label for="socialStatus">Социальный статус</label>
                                    <div class="select">
                                        <select id="socialStatus" name="socialStatus" [(ngModel)]="model.socialStatus">
                                            <option value="">Выберите значение</option>
                                            <option *ngFor="let status of socialStatutes" [value]="status">{{status}}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </section>
                        <div class="col-xs-6">
                            <button class="btn btn-primary" type="submit" [disabled]="storyForm.form.invalid || submitted">
                                Сохранить
                            </button>
                        </div>
                    </form>
                    <div [hidden]="!submitted">
                        <div class="alert alert-success">
                            <div class="alert-items">
                                <div class="alert-item static">
                                    <div class="alert-icon-wrapper">
                                        <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                                    </div>
                                    <span class="alert-text">Запись успешно добавлена/изменена</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </clr-tab-content>
            </clr-tab>
            <clr-tab>
                <button clrTabLink>Госпитализация</button>
                <clr-tab-content *clrIfActive>
                    <form #storyForm="ngForm" (ngSubmit)="onSubmit(storyForm)" class="compact row">
                        <section class="form-block col-xs-6">
                            <fieldset>
                                <label>Приемный покой</label>
                                <div class="form-group">
                                    <label class="required" for="receiptDate">Дата поступления</label>
                                    <label for="receiptDate" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="receiptDateInput.invalid && (receiptDateInput.dirty || receiptDateInput.touched)">
                                        <input type="date" id="receiptDate" name="receiptDate" [(ngModel)]="model.receiptDate" #receiptDateInput="ngModel" required>
                                        <span class="tooltip-content">
                                            Обязательное поле
                                        </span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="required" for="receiptTime">Время поступления</label>
                                    <label for="receiptTime" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="receiptTimeInput.invalid && (receiptTimeInput.dirty || receiptTimeInput.touched)">
                                        <input type="time" id="receiptTime" name="receiptTime" [(ngModel)]="model.receiptTime" #receiptTimeInput="ngModel" required>
                                        <span class="tooltip-content">
                                            Обязательное поле
                                        </span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="height">Рост, см</label>
                                    <input type="number" name="height" id="height" [(ngModel)]="model.height">
                                </div>
                                <div class="form-group">
                                    <label for="weight">Вес, кг</label>
                                    <input type="number" name="weight" id="weight" [(ngModel)]="model.weight">
                                </div>
                                <div class="form-group">
                                    <div class="checkbox-inline">
                                        <input type="checkbox" id="itch" name="itch" [(ngModel)]="model.itch">
                                        <label for="itch">Чесотка</label>
                                    </div>
                                    <div class="checkbox-inline">
                                        <input type="checkbox" id="pediculosis" name="pediculosis" [(ngModel)]="model.pediculosis">
                                        <label for="pediculosis">Педикулез</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nurse">Медсестра</label>
                                    <div class="select">
                                        <select id="nurse" name="nurse" [(ngModel)]="model.nurse">
                                            <option value="">Выберите значение</option>
                                            <option *ngFor="let nurse of nurses" [value]="nurse">{{nurse}}</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- TODO -->
                            </fieldset>
                            <br>
                            <fieldset>
                                <label>Поступление</label>
                                <div class="form-group">
                                    <label for="addressedFrom">Пациент направлен</label>
                                    <div class="select">
                                        <select id="addressedFrom" name="addressedFrom" [(ngModel)]="model.addressedFrom">
                                            <option value="">Выберите значение</option>
                                            <option *ngFor="let addr of addrFroms" [value]="addr">{{addr}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="addressedWhom">Кем направлен</label>
                                    <input type="text" name="addressedWhom" id="addressedWhom" [(ngModel)]="model.addressedWhom">
                                </div>
                                <div class="form-group">
                                    <label for="directionNumber">Номер направления</label>
                                    <input type="number" id="directionNumber" name="directionNumber" [(ngModel)]="model.directionNumber">
                                </div>
                                <div class="form-group">
                                    <label for="directionDate">Дата направления</label>
                                    <input type="date" name="directionDate" [(ngModel)]="model.directionDate">
                                </div>
                                <div class="form-group">
                                    <label for="receiptDateDep">Дата поступления в отд.</label>
                                    <input type="date" id="receiptDateDep" name="receiptDateDep" [(ngModel)]="model.receiptDateDep">

                                </div>
                                <div class="form-group">
                                    <label for="receiptTimeDep">Время поступления в отд.</label>
                                    <input type="time" id="receiptTimeDep" name="receiptTimeDep" [(ngModel)]="model.receiptTimeDep">
                                </div>
                                <div class="form-group">
                                    <label for="illnessDate">Дата заболевания</label>
                                    <input type="date" id="illnessDate" name="illnessDate" [(ngModel)]="model.illnessDate">
                                </div>
                                <div class="form-group">
                                    <label for="emergencyType">Тип госпитализации</label>
                                    <div class="select">
                                        <select id="emergencyType" name="emergencyType" [(ngModel)]="model.emergencyType">
                                            <option value="">Выберите значение</option>
                                            <option *ngFor="let emrg of emergencyTypes" [value]="emrg">{{emrg}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="department">Направлен в отделение</label>
                                    <div class="select">
                                        <select id="department" name="department" [(ngModel)]="model.department">
                                            <option value="">Выберите значение</option>
                                            <option *ngFor="let dep of departments" [value]="dep">{{dep}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="profile">Профиль койки</label>
                                    <div class="select">
                                        <select id="profile" name="profile" [(ngModel)]="model.profile">
                                            <option value="">Выберите значение</option>
                                            <option *ngFor="let prof of profiles" [value]="prof">{{prof}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ward">Палата</label>
                                    <div class="select">
                                        <select id="ward" name="ward" [(ngModel)]="model.ward">
                                            <option value="">Выберите значение</option>
                                            <option *ngFor="let wrd of wards" [value]="wrd">{{wrd}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="finsource">Направлен в отделение</label>
                                    <div class="select">
                                        <select id="finsource" name="finsource" [(ngModel)]="model.finsource">
                                            <option value="">Выберите значение</option>
                                            <option *ngFor="let fin of finsources" [value]="fin">{{fin}}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </section>
                        <section class="form-block col-xs-6">
                            <fieldset>
                                <label>Доставлен в стационар</label>
                                <div class="form-group row">
                                    <div class="col-xs-6">
                                        <div class="toggle-switch">
                                            <input type="checkbox" name="emergency" id="emergency" [(ngModel)]="model.emergency">
                                            <label for="emergency">во экстр. показаниям</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="toggle-switch">
                                            <input type="checkbox" name="plan" id="plan" [(ngModel)]="model.plan">
                                            <label for="plan">в плановом порядке</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-6">
                                        <label for="injuryType">Вид травмы</label>
                                        <div class="select">
                                            <select id="injuryType" name="injuryType" [(ngModel)]="model.injuryType">
                                                <option value="">Выберите значение</option>
                                                <option *ngFor="let inj of injuryTypes" [value]="inj">{{inj}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="transportType">Вид транспорт</label>
                                        <div class="select">
                                            <select id="transportType" name="transportType" [(ngModel)]="model.transportType">
                                                <option value="">Выберите значение</option>
                                                <option *ngFor="let trans of transportTypes" [value]="trans">{{trans}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xs-6">
                                        <label for="bloodGroup">Группа крови</label>
                                        <div class="select">
                                            <select id="bloodGroup" name="bloodGroup" [(ngModel)]="model.bloodGroup">
                                                <option value="">Выберите значение</option>
                                                <option *ngFor="let grp of bloodGroups" [value]="grp">{{grp}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="checkbox">
                                            <input type="checkbox" name="rH" id="rH" [value]="1" [(ngModel)]="model.rH">
                                            <label for="rH">Резус фактор</label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <br>
                            <fieldset>
                                <label>Выписка</label>
                                <div class="form-group row">
                                    <div class="col-xs-4">
                                        <label for="dischargeDate">Дата выписки</label>
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="date" name="dischargeDate" id="dischargeDate" [(ngModel)]="model.dischargeDate" (change)="calculateDays()">
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="time" name="dischargeTime" id="dischargeTime" [(ngModel)]="model.dischargeTime">
                                    </div>
                                    <div class="col-xs-4">
                                        <label for="dischargeDays">Койко-дни</label>
                                    </div>
                                    <div class="col-xs-8">
                                        <input type="number" name="dischargeDays" id="dischargeDays" [(ngModel)]="model.dischargeDays">
                                    </div>
                                    <div class="col-xs-4">
                                        <label for="dischargeResult">Исход прибывания</label>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="select">
                                            <select id="dischargeResult" name="dischargeResult" [(ngModel)]="model.dischargeResult">
                                                <option value="">Выберите значение</option>
                                                <option *ngFor="let disr of dischargeResults" [value]="disr">{{disr}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <label for="dischargeTreatment">Исход лечения</label>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="select">
                                            <select id="dischargeTreatment" name="dischargeTreatment" [(ngModel)]="model.dischargeTreatment">
                                                <option value="">Выберите значение</option>
                                                <option *ngFor="let dist of dischargeTreatments" [value]="dist">{{dist}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <br>
                            <fieldset>
                                <label>Больничный лист</label>
                                <div class="form-group">
                                    <label for="sickListNumber">Номер БЛ</label>
                                    <input type="number" name="sickListNumber" id="sickListNumber" [(ngModel)]="model.sickListNumber">
                                </div>
                                <div class="form-group">
                                    <label for="sickListRegDate">Дата регистрации</label>
                                    <input type="date" name="sickListRegDate" id="sickListRegDate" [(ngModel)]="model.sickListRegDate">
                                </div>
                                <div class="form-group">
                                    <label for="sickListOpenDate">Дата открытия</label>
                                    <input type="date" name="sickListOpenDate" id="sickListOpenDate" [(ngModel)]="model.sickListOpenDate">
                                </div>
                                <div class="form-group">
                                    <label for="sickListCloseDate">Дата закрытия</label>
                                    <input type="date" name="sickListCloseDate" id="sickListCloseDate" [(ngModel)]="model.sickListCloseDate">
                                </div>
                                <div class="form-group">
                                    <label for="stationaryDays">Кол-во дней стационара</label>
                                    <input type="number" name="stationaryDays" id="stationaryDays" [(ngModel)]="model.stationaryDays">
                                </div>
                                <div class="form-group">
                                    <label for="doctor">Врач</label>
                                    <div class="select">
                                        <select name="doctor" id="doctor" [(ngModel)]="model.doctor">
                                            <option value="">Выберите значение</option>
                                            <option *ngFor="let doctor of doctors" [value]="doctor">{{doctor}}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </section>
                        <div class="col-xs-6">
                            <button class="btn btn-primary" type="submit" [disabled]="storyForm.form.invalid || submitted">
                                Сохранить
                            </button>
                        </div>
                    </form>
                    <div [hidden]="!submitted">
                        <div class="alert alert-success">
                            <div class="alert-items">
                                <div class="alert-item static">
                                    <div class="alert-icon-wrapper">
                                        <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                                    </div>
                                    <span class="alert-text">Запись успешно добавлена/изменена</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </clr-tab-content>
            </clr-tab>
        </clr-tabs>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="open = false; clear()">Готово</button>
    </div>
</clr-modal>

<clr-datagrid>
    <clr-dg-column [clrDgField]="'story.id'" [clrDgSortBy]="storyComparator">
        Номер ИБ
    </clr-dg-column>
    <clr-dg-column>Дата и время пост.</clr-dg-column>
    <clr-dg-column>Дата и время вып.</clr-dg-column>
    <clr-dg-column>Отделение</clr-dg-column>
    <clr-dg-column>Палата</clr-dg-column>
    <clr-dg-column>Койко-дни</clr-dg-column>
    <clr-dg-column>Группа крови</clr-dg-column>
    <clr-dg-column>Rh</clr-dg-column>
    <clr-dg-column>
        Пациент
        <clr-dg-string-filter [clrDgStringFilter]="storyFilter" [(clrFilterValue)]="myFilterValue"></clr-dg-string-filter>
    </clr-dg-column>
    <clr-dg-column>Возраст</clr-dg-column>
    <clr-dg-column>Экст.</clr-dg-column>
    <clr-dg-column>План.</clr-dg-column>
    <clr-dg-column>Исход лечения</clr-dg-column>
    <clr-dg-column>Лечащий врач</clr-dg-column>

    <clr-dg-row *clrDgItems="let story of stories">
        <clr-dg-cell>{{story.id}}</clr-dg-cell>
        <clr-dg-cell>{{story.receiptDate}} {{story.receiptTime}}</clr-dg-cell>
        <clr-dg-cell>{{story.dischargeDate}} {{story.dischargeTime}}</clr-dg-cell>
        <clr-dg-cell>{{story.department}}</clr-dg-cell>
        <clr-dg-cell>{{story.ward}}</clr-dg-cell>
        <clr-dg-cell>{{story.dischargeDays}}</clr-dg-cell>
        <clr-dg-cell>{{story.bloodGroup}}</clr-dg-cell>
        <clr-dg-cell *ngIf="story.rH == true">
            <clr-icon shape="check"></clr-icon>
        </clr-dg-cell>
        <clr-dg-cell *ngIf="story.rH == false">
            <clr-icon shape="minus"></clr-icon>
        </clr-dg-cell>
        <clr-dg-cell>{{story.name}}</clr-dg-cell>
        <clr-dg-cell>{{story.age}}</clr-dg-cell>
        <clr-dg-cell *ngIf="story.emergency == true">
            <clr-icon shape="check"></clr-icon>
        </clr-dg-cell>
        <clr-dg-cell *ngIf="story.emergency == false">
            <clr-icon shape="minus"></clr-icon>
        </clr-dg-cell>
        <clr-dg-cell *ngIf="story.plan == true">
            <clr-icon shape="check"></clr-icon>
        </clr-dg-cell>
        <clr-dg-cell *ngIf="story.plan == false">
            <clr-icon shape="minus"></clr-icon>
        </clr-dg-cell>
        <clr-dg-cell>{{story.dischargeTreatment}}</clr-dg-cell>
        <clr-dg-cell>{{story.doctor}}</clr-dg-cell>
        <clr-dg-row-detail *clrIfExpanded="expand">
            <button class="btn btn-primary btn-sm" (click)="edit(story)">Изменить</button>
            <button class="btn btn-danger btn-sm" (click)="delete(story)">Удалить</button>
        </clr-dg-row-detail>
    </clr-dg-row>
    <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} из {{pagination.totalItems}} записей
        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
