<clr-tabs>

  <clr-tab>
    <button clrTabLink>Операции</button>
    <clr-tab-content *clrIfActive>
      <br>
      <label for="search_input">
        <input id="search_input" type="text" placeholder="Поиск операций ...">
      </label>
      <clr-stack-view>
        <clr-stack-header>МКБ - 9</clr-stack-header>

        <clr-stack-block>
          <clr-stack-label>01 21 - 05 90</clr-stack-label>
          <clr-stack-content>ОПЕРАЦИИ НА НЕРВНОЙ СИСТЕМЕ</clr-stack-content>
          <clr-stack-block>
            <clr-stack-label>Sub-label 1</clr-stack-label>
            <clr-stack-content>Sub-content 1</clr-stack-content>
          </clr-stack-block>
        </clr-stack-block>

        <clr-stack-block>
          <clr-stack-label>06 02 - 07 99</clr-stack-label>
          <clr-stack-content>ОПЕРАЦИИ НА ЭНДРОКРИННОЙ СИСТЕМЕ</clr-stack-content>
          <clr-stack-block>
            <clr-stack-label>Sub-label 1</clr-stack-label>
            <clr-stack-content>Sub-content 1</clr-stack-content>
          </clr-stack-block>
        </clr-stack-block>

        <clr-stack-block>
          <clr-stack-label>17 11 - 17 45</clr-stack-label>
          <clr-stack-content>ПАПАРОСКОПИЧЕСКИЕ ОПЕРАЦИИ</clr-stack-content>
          <clr-stack-block>
            <clr-stack-label>Sub-label 1</clr-stack-label>
            <clr-stack-content>Sub-content 1</clr-stack-content>
          </clr-stack-block>
        </clr-stack-block>

        <clr-stack-block>
          <clr-stack-label>18 20 - 20 99</clr-stack-label>
          <clr-stack-content>ОПЕРАЦИИ НА УХЕ</clr-stack-content>
          <clr-stack-block>
            <clr-stack-label>Sub-label 1</clr-stack-label>
            <clr-stack-content>Sub-content 1</clr-stack-content>
          </clr-stack-block>
        </clr-stack-block>

        <clr-stack-block>
          <clr-stack-label>21 04 - 29 99</clr-stack-label>
          <clr-stack-content>ОПЕРАЦИИ НА НОСУ, ОБЛАСТИ РТА И ГЛОТКИ</clr-stack-content>
          <clr-stack-block>
            <clr-stack-label>21</clr-stack-label>
            <clr-stack-content>МАНИПУЛЯЦИИ НА НОСУ</clr-stack-content>
            <clr-stack-block>
              <clr-stack-label>Sub-label 1</clr-stack-label>
              <clr-stack-content>Sub-content 1</clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>
          <clr-stack-block>
            <clr-stack-label>22</clr-stack-label>
            <clr-stack-content>МАНИПУЛЯЦИИ НА ПАЗУХАХ НОСА</clr-stack-content>
            <clr-stack-block>
              <clr-stack-label>Sub-label 1</clr-stack-label>
              <clr-stack-content>Sub-content 1</clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>
          <clr-stack-block>
            <clr-stack-label>24</clr-stack-label>
            <clr-stack-content>ДРУГИЕ МАНИПУЛЯЦИИ НА ЗУБАХ, ДЕСНАХ И АЛЬВЕОЛАХ</clr-stack-content>
            <clr-stack-block>
              <clr-stack-label>Sub-label 1</clr-stack-label>
              <clr-stack-content>Sub-content 1</clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>
          <clr-stack-block>
            <clr-stack-label>25</clr-stack-label>
            <clr-stack-content>МАНИПУЛЯЦИИ НА ЯЗЫКЕ</clr-stack-content>
            <clr-stack-block>
              <clr-stack-label>Sub-label 1</clr-stack-label>
              <clr-stack-content>Sub-content 1</clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>
          <clr-stack-block>
            <clr-stack-label>26</clr-stack-label>
            <clr-stack-content>МАНИПУЛЯЦИИ НА СЛЮННЫХ ЖЕЛЕЗАХ И ПРОТОКАХ</clr-stack-content>
            <clr-stack-block>
              <clr-stack-label>Sub-label 1</clr-stack-label>
              <clr-stack-content>Sub-content 1</clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>
          <clr-stack-block>
            <clr-stack-label>27</clr-stack-label>
            <clr-stack-content>ДРУГИЕ МАНИПУЛЯЦИИ НА ОБЛАСТИ РТА И ЛИЦЕ</clr-stack-content>
            <clr-stack-block>
              <clr-stack-label>Sub-label 1</clr-stack-label>
              <clr-stack-content>Sub-content 1</clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>
          <clr-stack-block>
            <clr-stack-label>28</clr-stack-label>
            <clr-stack-content>МАНИПУЛЯЦИИ НА МИНДАЛИНАХ И АДЕНОИДАХ</clr-stack-content>
            <clr-stack-block>
              <clr-stack-label>Sub-label 1</clr-stack-label>
              <clr-stack-content>Sub-content 1</clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>
          <clr-stack-block>
            <clr-stack-label>29</clr-stack-label>
            <clr-stack-content>МАНИПУЛЯЦИИ НА ГЛОТКЕ</clr-stack-content>
            <clr-stack-block>
              <clr-stack-label>Sub-label 1</clr-stack-label>
              <clr-stack-content>Sub-content 1</clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>
        </clr-stack-block>

      </clr-stack-view>
    </clr-tab-content>
  </clr-tab>

  <clr-tab>
    <button clrTabLink>Избранные</button>
    <clr-tab-content *clrIfActive>
      ...
    </clr-tab-content>
  </clr-tab>

</clr-tabs>